InvoiceClient/Web References/WS_Invoice/eInvoiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.uxb2b.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.uxb2b.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.uxb2b.com/">
      <s:element name="B2BUploadReceipt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2BUploadReceiptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="B2BUploadReceiptResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2BUploadReceiptCancellation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2BUploadReceiptCancellationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="B2BUploadReceiptCancellationResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2BUploadInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2BUploadInvoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="B2BUploadInvoiceResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2BUploadAllowance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2BUploadAllowanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="B2BUploadAllowanceResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2BUploadAllowanceCancellation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2BUploadAllowanceCancellationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="B2BUploadAllowanceCancellationResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2BUploadInvoiceCancellation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2BUploadInvoiceCancellationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="B2BUploadInvoiceCancellationResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2BUploadBuyerInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2BUploadBuyerInvoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="B2BUploadBuyerInvoiceResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadBranchTrackBlank">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadBranchTrackBlankResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadBranchTrackBlankResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2BReceiveA1401">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sellerInfo">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2BReceiveA1401Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="B2BReceiveA1401Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcknowledgeReceiving">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcknowledgeReceivingResponse">
        <s:complexType />
      </s:element>
      <s:element name="NotifyCounterpartBusiness">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyCounterpartBusinessResponse">
        <s:complexType />
      </s:element>
      <s:element name="B2BReceiveB1401">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sellerInfo">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2BReceiveB1401Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="B2BReceiveB1401Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2BReceiveA0501">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sellerInfo">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2BReceiveA0501Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="B2BReceiveA0501Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2BReceiveB0501">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sellerInfo">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2BReceiveB0501Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="B2BReceiveB0501Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveContentAsPDF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sellerInfo">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveContentAsPDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveContentAsPDFResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteTempForReceivePDF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sellerInfo">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="docID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTempForReceivePDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteTempForReceivePDFResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadCounterpartBusiness">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadCounterpartBusinessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadCounterpartBusinessResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadInvoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadInvoiceResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadAllowance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadAllowanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadAllowanceResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadB1401">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadB1401Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadB1401Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadB0401">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadB0401Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadB0401Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadInvoiceAutoTrackNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadInvoiceAutoTrackNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadInvoiceAutoTrackNoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadInvoiceCmsCSVAutoTrackNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadInvoiceCmsCSVAutoTrackNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadInvoiceCmsCSVAutoTrackNoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadInvoiceCancellationCmsCSV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadInvoiceCancellationCmsCSVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadInvoiceCancellationCmsCSVResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadInvoiceCancellation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadInvoiceCancellationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadInvoiceCancellationResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadAllowanceCancellation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadAllowanceCancellationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadAllowanceCancellationResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadB0501">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadB0501Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadB0501Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdatedWelfareAgenciesInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sellerReceiptNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdatedWelfareAgenciesInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdatedWelfareAgenciesInfoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWelfareAgenciesInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sellerReceiptNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWelfareAgenciesInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWelfareAgenciesInfoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIncomingInvoices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sellerInfo">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIncomingInvoicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIncomingInvoicesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIncomingInvoiceCancellations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sellerInfo">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIncomingInvoiceCancellationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIncomingInvoiceCancellationsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIncomingAllowances">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sellerInfo">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIncomingAllowancesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIncomingAllowancesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIncomingAllowanceCancellations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sellerInfo">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIncomingAllowanceCancellationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIncomingAllowanceCancellationsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcknowledgeLivingReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sellerInfo">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcknowledgeLivingReportResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetIncomingWinningInvoices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sellerInfo">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIncomingWinningInvoicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIncomingWinningInvoicesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSignerCertificateContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="activationKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSignerCertificateContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSignerCertificateContentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRegisteredMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sellerInfo">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRegisteredMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRegisteredMemberResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadA1101">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadA1101Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadA1101Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadA1401">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadA1401Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadA1401Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadA0401">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadA0401Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadA0401Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadB1101">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadB1101Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadB1101Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadA0201">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadA0201Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadA0201Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadA0501">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadA0501Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadA0501Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadB0201">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadB0201Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadB0201Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2CUploadInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2CUploadInvoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="B2CUploadInvoiceResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2CUploadInvoiceCancellation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadData">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="B2CUploadInvoiceCancellationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="B2CUploadInvoiceCancellationResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="B2BUploadReceiptSoapIn">
    <wsdl:part name="parameters" element="tns:B2BUploadReceipt" />
  </wsdl:message>
  <wsdl:message name="B2BUploadReceiptSoapOut">
    <wsdl:part name="parameters" element="tns:B2BUploadReceiptResponse" />
  </wsdl:message>
  <wsdl:message name="B2BUploadReceiptCancellationSoapIn">
    <wsdl:part name="parameters" element="tns:B2BUploadReceiptCancellation" />
  </wsdl:message>
  <wsdl:message name="B2BUploadReceiptCancellationSoapOut">
    <wsdl:part name="parameters" element="tns:B2BUploadReceiptCancellationResponse" />
  </wsdl:message>
  <wsdl:message name="B2BUploadInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:B2BUploadInvoice" />
  </wsdl:message>
  <wsdl:message name="B2BUploadInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:B2BUploadInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="B2BUploadAllowanceSoapIn">
    <wsdl:part name="parameters" element="tns:B2BUploadAllowance" />
  </wsdl:message>
  <wsdl:message name="B2BUploadAllowanceSoapOut">
    <wsdl:part name="parameters" element="tns:B2BUploadAllowanceResponse" />
  </wsdl:message>
  <wsdl:message name="B2BUploadAllowanceCancellationSoapIn">
    <wsdl:part name="parameters" element="tns:B2BUploadAllowanceCancellation" />
  </wsdl:message>
  <wsdl:message name="B2BUploadAllowanceCancellationSoapOut">
    <wsdl:part name="parameters" element="tns:B2BUploadAllowanceCancellationResponse" />
  </wsdl:message>
  <wsdl:message name="B2BUploadInvoiceCancellationSoapIn">
    <wsdl:part name="parameters" element="tns:B2BUploadInvoiceCancellation" />
  </wsdl:message>
  <wsdl:message name="B2BUploadInvoiceCancellationSoapOut">
    <wsdl:part name="parameters" element="tns:B2BUploadInvoiceCancellationResponse" />
  </wsdl:message>
  <wsdl:message name="B2BUploadBuyerInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:B2BUploadBuyerInvoice" />
  </wsdl:message>
  <wsdl:message name="B2BUploadBuyerInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:B2BUploadBuyerInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="UploadBranchTrackBlankSoapIn">
    <wsdl:part name="parameters" element="tns:UploadBranchTrackBlank" />
  </wsdl:message>
  <wsdl:message name="UploadBranchTrackBlankSoapOut">
    <wsdl:part name="parameters" element="tns:UploadBranchTrackBlankResponse" />
  </wsdl:message>
  <wsdl:message name="B2BReceiveA1401SoapIn">
    <wsdl:part name="parameters" element="tns:B2BReceiveA1401" />
  </wsdl:message>
  <wsdl:message name="B2BReceiveA1401SoapOut">
    <wsdl:part name="parameters" element="tns:B2BReceiveA1401Response" />
  </wsdl:message>
  <wsdl:message name="AcknowledgeReceivingSoapIn">
    <wsdl:part name="parameters" element="tns:AcknowledgeReceiving" />
  </wsdl:message>
  <wsdl:message name="AcknowledgeReceivingSoapOut">
    <wsdl:part name="parameters" element="tns:AcknowledgeReceivingResponse" />
  </wsdl:message>
  <wsdl:message name="NotifyCounterpartBusinessSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyCounterpartBusiness" />
  </wsdl:message>
  <wsdl:message name="NotifyCounterpartBusinessSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyCounterpartBusinessResponse" />
  </wsdl:message>
  <wsdl:message name="B2BReceiveB1401SoapIn">
    <wsdl:part name="parameters" element="tns:B2BReceiveB1401" />
  </wsdl:message>
  <wsdl:message name="B2BReceiveB1401SoapOut">
    <wsdl:part name="parameters" element="tns:B2BReceiveB1401Response" />
  </wsdl:message>
  <wsdl:message name="B2BReceiveA0501SoapIn">
    <wsdl:part name="parameters" element="tns:B2BReceiveA0501" />
  </wsdl:message>
  <wsdl:message name="B2BReceiveA0501SoapOut">
    <wsdl:part name="parameters" element="tns:B2BReceiveA0501Response" />
  </wsdl:message>
  <wsdl:message name="B2BReceiveB0501SoapIn">
    <wsdl:part name="parameters" element="tns:B2BReceiveB0501" />
  </wsdl:message>
  <wsdl:message name="B2BReceiveB0501SoapOut">
    <wsdl:part name="parameters" element="tns:B2BReceiveB0501Response" />
  </wsdl:message>
  <wsdl:message name="ReceiveContentAsPDFSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveContentAsPDF" />
  </wsdl:message>
  <wsdl:message name="ReceiveContentAsPDFSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveContentAsPDFResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTempForReceivePDFSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTempForReceivePDF" />
  </wsdl:message>
  <wsdl:message name="DeleteTempForReceivePDFSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteTempForReceivePDFResponse" />
  </wsdl:message>
  <wsdl:message name="UploadCounterpartBusinessSoapIn">
    <wsdl:part name="parameters" element="tns:UploadCounterpartBusiness" />
  </wsdl:message>
  <wsdl:message name="UploadCounterpartBusinessSoapOut">
    <wsdl:part name="parameters" element="tns:UploadCounterpartBusinessResponse" />
  </wsdl:message>
  <wsdl:message name="UploadInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:UploadInvoice" />
  </wsdl:message>
  <wsdl:message name="UploadInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:UploadInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="UploadAllowanceSoapIn">
    <wsdl:part name="parameters" element="tns:UploadAllowance" />
  </wsdl:message>
  <wsdl:message name="UploadAllowanceSoapOut">
    <wsdl:part name="parameters" element="tns:UploadAllowanceResponse" />
  </wsdl:message>
  <wsdl:message name="UploadB1401SoapIn">
    <wsdl:part name="parameters" element="tns:UploadB1401" />
  </wsdl:message>
  <wsdl:message name="UploadB1401SoapOut">
    <wsdl:part name="parameters" element="tns:UploadB1401Response" />
  </wsdl:message>
  <wsdl:message name="UploadB0401SoapIn">
    <wsdl:part name="parameters" element="tns:UploadB0401" />
  </wsdl:message>
  <wsdl:message name="UploadB0401SoapOut">
    <wsdl:part name="parameters" element="tns:UploadB0401Response" />
  </wsdl:message>
  <wsdl:message name="UploadInvoiceAutoTrackNoSoapIn">
    <wsdl:part name="parameters" element="tns:UploadInvoiceAutoTrackNo" />
  </wsdl:message>
  <wsdl:message name="UploadInvoiceAutoTrackNoSoapOut">
    <wsdl:part name="parameters" element="tns:UploadInvoiceAutoTrackNoResponse" />
  </wsdl:message>
  <wsdl:message name="UploadInvoiceCmsCSVAutoTrackNoSoapIn">
    <wsdl:part name="parameters" element="tns:UploadInvoiceCmsCSVAutoTrackNo" />
  </wsdl:message>
  <wsdl:message name="UploadInvoiceCmsCSVAutoTrackNoSoapOut">
    <wsdl:part name="parameters" element="tns:UploadInvoiceCmsCSVAutoTrackNoResponse" />
  </wsdl:message>
  <wsdl:message name="UploadInvoiceCancellationCmsCSVSoapIn">
    <wsdl:part name="parameters" element="tns:UploadInvoiceCancellationCmsCSV" />
  </wsdl:message>
  <wsdl:message name="UploadInvoiceCancellationCmsCSVSoapOut">
    <wsdl:part name="parameters" element="tns:UploadInvoiceCancellationCmsCSVResponse" />
  </wsdl:message>
  <wsdl:message name="UploadInvoiceCancellationSoapIn">
    <wsdl:part name="parameters" element="tns:UploadInvoiceCancellation" />
  </wsdl:message>
  <wsdl:message name="UploadInvoiceCancellationSoapOut">
    <wsdl:part name="parameters" element="tns:UploadInvoiceCancellationResponse" />
  </wsdl:message>
  <wsdl:message name="UploadAllowanceCancellationSoapIn">
    <wsdl:part name="parameters" element="tns:UploadAllowanceCancellation" />
  </wsdl:message>
  <wsdl:message name="UploadAllowanceCancellationSoapOut">
    <wsdl:part name="parameters" element="tns:UploadAllowanceCancellationResponse" />
  </wsdl:message>
  <wsdl:message name="UploadB0501SoapIn">
    <wsdl:part name="parameters" element="tns:UploadB0501" />
  </wsdl:message>
  <wsdl:message name="UploadB0501SoapOut">
    <wsdl:part name="parameters" element="tns:UploadB0501Response" />
  </wsdl:message>
  <wsdl:message name="GetUpdatedWelfareAgenciesInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdatedWelfareAgenciesInfo" />
  </wsdl:message>
  <wsdl:message name="GetUpdatedWelfareAgenciesInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdatedWelfareAgenciesInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetWelfareAgenciesInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetWelfareAgenciesInfo" />
  </wsdl:message>
  <wsdl:message name="GetWelfareAgenciesInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetWelfareAgenciesInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetIncomingInvoicesSoapIn">
    <wsdl:part name="parameters" element="tns:GetIncomingInvoices" />
  </wsdl:message>
  <wsdl:message name="GetIncomingInvoicesSoapOut">
    <wsdl:part name="parameters" element="tns:GetIncomingInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="GetIncomingInvoiceCancellationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetIncomingInvoiceCancellations" />
  </wsdl:message>
  <wsdl:message name="GetIncomingInvoiceCancellationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetIncomingInvoiceCancellationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetIncomingAllowancesSoapIn">
    <wsdl:part name="parameters" element="tns:GetIncomingAllowances" />
  </wsdl:message>
  <wsdl:message name="GetIncomingAllowancesSoapOut">
    <wsdl:part name="parameters" element="tns:GetIncomingAllowancesResponse" />
  </wsdl:message>
  <wsdl:message name="GetIncomingAllowanceCancellationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetIncomingAllowanceCancellations" />
  </wsdl:message>
  <wsdl:message name="GetIncomingAllowanceCancellationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetIncomingAllowanceCancellationsResponse" />
  </wsdl:message>
  <wsdl:message name="AcknowledgeLivingReportSoapIn">
    <wsdl:part name="parameters" element="tns:AcknowledgeLivingReport" />
  </wsdl:message>
  <wsdl:message name="AcknowledgeLivingReportSoapOut">
    <wsdl:part name="parameters" element="tns:AcknowledgeLivingReportResponse" />
  </wsdl:message>
  <wsdl:message name="GetIncomingWinningInvoicesSoapIn">
    <wsdl:part name="parameters" element="tns:GetIncomingWinningInvoices" />
  </wsdl:message>
  <wsdl:message name="GetIncomingWinningInvoicesSoapOut">
    <wsdl:part name="parameters" element="tns:GetIncomingWinningInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSignerCertificateContentSoapIn">
    <wsdl:part name="parameters" element="tns:GetSignerCertificateContent" />
  </wsdl:message>
  <wsdl:message name="GetSignerCertificateContentSoapOut">
    <wsdl:part name="parameters" element="tns:GetSignerCertificateContentResponse" />
  </wsdl:message>
  <wsdl:message name="GetRegisteredMemberSoapIn">
    <wsdl:part name="parameters" element="tns:GetRegisteredMember" />
  </wsdl:message>
  <wsdl:message name="GetRegisteredMemberSoapOut">
    <wsdl:part name="parameters" element="tns:GetRegisteredMemberResponse" />
  </wsdl:message>
  <wsdl:message name="UploadA1101SoapIn">
    <wsdl:part name="parameters" element="tns:UploadA1101" />
  </wsdl:message>
  <wsdl:message name="UploadA1101SoapOut">
    <wsdl:part name="parameters" element="tns:UploadA1101Response" />
  </wsdl:message>
  <wsdl:message name="UploadA1401SoapIn">
    <wsdl:part name="parameters" element="tns:UploadA1401" />
  </wsdl:message>
  <wsdl:message name="UploadA1401SoapOut">
    <wsdl:part name="parameters" element="tns:UploadA1401Response" />
  </wsdl:message>
  <wsdl:message name="UploadA0401SoapIn">
    <wsdl:part name="parameters" element="tns:UploadA0401" />
  </wsdl:message>
  <wsdl:message name="UploadA0401SoapOut">
    <wsdl:part name="parameters" element="tns:UploadA0401Response" />
  </wsdl:message>
  <wsdl:message name="UploadB1101SoapIn">
    <wsdl:part name="parameters" element="tns:UploadB1101" />
  </wsdl:message>
  <wsdl:message name="UploadB1101SoapOut">
    <wsdl:part name="parameters" element="tns:UploadB1101Response" />
  </wsdl:message>
  <wsdl:message name="UploadA0201SoapIn">
    <wsdl:part name="parameters" element="tns:UploadA0201" />
  </wsdl:message>
  <wsdl:message name="UploadA0201SoapOut">
    <wsdl:part name="parameters" element="tns:UploadA0201Response" />
  </wsdl:message>
  <wsdl:message name="UploadA0501SoapIn">
    <wsdl:part name="parameters" element="tns:UploadA0501" />
  </wsdl:message>
  <wsdl:message name="UploadA0501SoapOut">
    <wsdl:part name="parameters" element="tns:UploadA0501Response" />
  </wsdl:message>
  <wsdl:message name="UploadB0201SoapIn">
    <wsdl:part name="parameters" element="tns:UploadB0201" />
  </wsdl:message>
  <wsdl:message name="UploadB0201SoapOut">
    <wsdl:part name="parameters" element="tns:UploadB0201Response" />
  </wsdl:message>
  <wsdl:message name="B2CUploadInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:B2CUploadInvoice" />
  </wsdl:message>
  <wsdl:message name="B2CUploadInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:B2CUploadInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="B2CUploadInvoiceCancellationSoapIn">
    <wsdl:part name="parameters" element="tns:B2CUploadInvoiceCancellation" />
  </wsdl:message>
  <wsdl:message name="B2CUploadInvoiceCancellationSoapOut">
    <wsdl:part name="parameters" element="tns:B2CUploadInvoiceCancellationResponse" />
  </wsdl:message>
  <wsdl:portType name="eInvoiceServiceSoap">
    <wsdl:operation name="B2BUploadReceipt">
      <wsdl:input message="tns:B2BUploadReceiptSoapIn" />
      <wsdl:output message="tns:B2BUploadReceiptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="B2BUploadReceiptCancellation">
      <wsdl:input message="tns:B2BUploadReceiptCancellationSoapIn" />
      <wsdl:output message="tns:B2BUploadReceiptCancellationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="B2BUploadInvoice">
      <wsdl:input message="tns:B2BUploadInvoiceSoapIn" />
      <wsdl:output message="tns:B2BUploadInvoiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="B2BUploadAllowance">
      <wsdl:input message="tns:B2BUploadAllowanceSoapIn" />
      <wsdl:output message="tns:B2BUploadAllowanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="B2BUploadAllowanceCancellation">
      <wsdl:input message="tns:B2BUploadAllowanceCancellationSoapIn" />
      <wsdl:output message="tns:B2BUploadAllowanceCancellationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="B2BUploadInvoiceCancellation">
      <wsdl:input message="tns:B2BUploadInvoiceCancellationSoapIn" />
      <wsdl:output message="tns:B2BUploadInvoiceCancellationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="B2BUploadBuyerInvoice">
      <wsdl:input message="tns:B2BUploadBuyerInvoiceSoapIn" />
      <wsdl:output message="tns:B2BUploadBuyerInvoiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadBranchTrackBlank">
      <wsdl:input message="tns:UploadBranchTrackBlankSoapIn" />
      <wsdl:output message="tns:UploadBranchTrackBlankSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="B2BReceiveA1401">
      <wsdl:input message="tns:B2BReceiveA1401SoapIn" />
      <wsdl:output message="tns:B2BReceiveA1401SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AcknowledgeReceiving">
      <wsdl:input message="tns:AcknowledgeReceivingSoapIn" />
      <wsdl:output message="tns:AcknowledgeReceivingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyCounterpartBusiness">
      <wsdl:input message="tns:NotifyCounterpartBusinessSoapIn" />
      <wsdl:output message="tns:NotifyCounterpartBusinessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="B2BReceiveB1401">
      <wsdl:input message="tns:B2BReceiveB1401SoapIn" />
      <wsdl:output message="tns:B2BReceiveB1401SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="B2BReceiveA0501">
      <wsdl:input message="tns:B2BReceiveA0501SoapIn" />
      <wsdl:output message="tns:B2BReceiveA0501SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="B2BReceiveB0501">
      <wsdl:input message="tns:B2BReceiveB0501SoapIn" />
      <wsdl:output message="tns:B2BReceiveB0501SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveContentAsPDF">
      <wsdl:input message="tns:ReceiveContentAsPDFSoapIn" />
      <wsdl:output message="tns:ReceiveContentAsPDFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTempForReceivePDF">
      <wsdl:input message="tns:DeleteTempForReceivePDFSoapIn" />
      <wsdl:output message="tns:DeleteTempForReceivePDFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadCounterpartBusiness">
      <wsdl:input message="tns:UploadCounterpartBusinessSoapIn" />
      <wsdl:output message="tns:UploadCounterpartBusinessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadInvoice">
      <wsdl:input message="tns:UploadInvoiceSoapIn" />
      <wsdl:output message="tns:UploadInvoiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadAllowance">
      <wsdl:input message="tns:UploadAllowanceSoapIn" />
      <wsdl:output message="tns:UploadAllowanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadB1401">
      <wsdl:input message="tns:UploadB1401SoapIn" />
      <wsdl:output message="tns:UploadB1401SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadB0401">
      <wsdl:input message="tns:UploadB0401SoapIn" />
      <wsdl:output message="tns:UploadB0401SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadInvoiceAutoTrackNo">
      <wsdl:input message="tns:UploadInvoiceAutoTrackNoSoapIn" />
      <wsdl:output message="tns:UploadInvoiceAutoTrackNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadInvoiceCmsCSVAutoTrackNo">
      <wsdl:input message="tns:UploadInvoiceCmsCSVAutoTrackNoSoapIn" />
      <wsdl:output message="tns:UploadInvoiceCmsCSVAutoTrackNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadInvoiceCancellationCmsCSV">
      <wsdl:input message="tns:UploadInvoiceCancellationCmsCSVSoapIn" />
      <wsdl:output message="tns:UploadInvoiceCancellationCmsCSVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadInvoiceCancellation">
      <wsdl:input message="tns:UploadInvoiceCancellationSoapIn" />
      <wsdl:output message="tns:UploadInvoiceCancellationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadAllowanceCancellation">
      <wsdl:input message="tns:UploadAllowanceCancellationSoapIn" />
      <wsdl:output message="tns:UploadAllowanceCancellationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadB0501">
      <wsdl:input message="tns:UploadB0501SoapIn" />
      <wsdl:output message="tns:UploadB0501SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdatedWelfareAgenciesInfo">
      <wsdl:input message="tns:GetUpdatedWelfareAgenciesInfoSoapIn" />
      <wsdl:output message="tns:GetUpdatedWelfareAgenciesInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWelfareAgenciesInfo">
      <wsdl:input message="tns:GetWelfareAgenciesInfoSoapIn" />
      <wsdl:output message="tns:GetWelfareAgenciesInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIncomingInvoices">
      <wsdl:input message="tns:GetIncomingInvoicesSoapIn" />
      <wsdl:output message="tns:GetIncomingInvoicesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIncomingInvoiceCancellations">
      <wsdl:input message="tns:GetIncomingInvoiceCancellationsSoapIn" />
      <wsdl:output message="tns:GetIncomingInvoiceCancellationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIncomingAllowances">
      <wsdl:input message="tns:GetIncomingAllowancesSoapIn" />
      <wsdl:output message="tns:GetIncomingAllowancesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIncomingAllowanceCancellations">
      <wsdl:input message="tns:GetIncomingAllowanceCancellationsSoapIn" />
      <wsdl:output message="tns:GetIncomingAllowanceCancellationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AcknowledgeLivingReport">
      <wsdl:input message="tns:AcknowledgeLivingReportSoapIn" />
      <wsdl:output message="tns:AcknowledgeLivingReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIncomingWinningInvoices">
      <wsdl:input message="tns:GetIncomingWinningInvoicesSoapIn" />
      <wsdl:output message="tns:GetIncomingWinningInvoicesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSignerCertificateContent">
      <wsdl:input message="tns:GetSignerCertificateContentSoapIn" />
      <wsdl:output message="tns:GetSignerCertificateContentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRegisteredMember">
      <wsdl:input message="tns:GetRegisteredMemberSoapIn" />
      <wsdl:output message="tns:GetRegisteredMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadA1101">
      <wsdl:input message="tns:UploadA1101SoapIn" />
      <wsdl:output message="tns:UploadA1101SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadA1401">
      <wsdl:input message="tns:UploadA1401SoapIn" />
      <wsdl:output message="tns:UploadA1401SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadA0401">
      <wsdl:input message="tns:UploadA0401SoapIn" />
      <wsdl:output message="tns:UploadA0401SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadB1101">
      <wsdl:input message="tns:UploadB1101SoapIn" />
      <wsdl:output message="tns:UploadB1101SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadA0201">
      <wsdl:input message="tns:UploadA0201SoapIn" />
      <wsdl:output message="tns:UploadA0201SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadA0501">
      <wsdl:input message="tns:UploadA0501SoapIn" />
      <wsdl:output message="tns:UploadA0501SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadB0201">
      <wsdl:input message="tns:UploadB0201SoapIn" />
      <wsdl:output message="tns:UploadB0201SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="B2CUploadInvoice">
      <wsdl:input message="tns:B2CUploadInvoiceSoapIn" />
      <wsdl:output message="tns:B2CUploadInvoiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="B2CUploadInvoiceCancellation">
      <wsdl:input message="tns:B2CUploadInvoiceCancellationSoapIn" />
      <wsdl:output message="tns:B2CUploadInvoiceCancellationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="eInvoiceServiceSoap" type="tns:eInvoiceServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="B2BUploadReceipt">
      <soap:operation soapAction="http://www.uxb2b.com/B2BUploadReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2BUploadReceiptCancellation">
      <soap:operation soapAction="http://www.uxb2b.com/B2BUploadReceiptCancellation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2BUploadInvoice">
      <soap:operation soapAction="http://www.uxb2b.com/B2BUploadInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2BUploadAllowance">
      <soap:operation soapAction="http://www.uxb2b.com/B2BUploadAllowance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2BUploadAllowanceCancellation">
      <soap:operation soapAction="http://www.uxb2b.com/B2BUploadAllowanceCancellation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2BUploadInvoiceCancellation">
      <soap:operation soapAction="http://www.uxb2b.com/B2BUploadInvoiceCancellation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2BUploadBuyerInvoice">
      <soap:operation soapAction="http://www.uxb2b.com/B2BUploadBuyerInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadBranchTrackBlank">
      <soap:operation soapAction="http://www.uxb2b.com/UploadBranchTrackBlank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2BReceiveA1401">
      <soap:operation soapAction="http://www.uxb2b.com/B2BReceiveA1401" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcknowledgeReceiving">
      <soap:operation soapAction="http://www.uxb2b.com/AcknowledgeReceiving" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyCounterpartBusiness">
      <soap:operation soapAction="http://www.uxb2b.com/NotifyCounterpartBusiness" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2BReceiveB1401">
      <soap:operation soapAction="http://www.uxb2b.com/B2BReceiveB1401" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2BReceiveA0501">
      <soap:operation soapAction="http://www.uxb2b.com/B2BReceiveA0501" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2BReceiveB0501">
      <soap:operation soapAction="http://www.uxb2b.com/B2BReceiveB0501" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveContentAsPDF">
      <soap:operation soapAction="http://www.uxb2b.com/ReceiveContentAsPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTempForReceivePDF">
      <soap:operation soapAction="http://www.uxb2b.com/DeleteTempForReceivePDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadCounterpartBusiness">
      <soap:operation soapAction="http://www.uxb2b.com/UploadCounterpartBusiness" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadInvoice">
      <soap:operation soapAction="http://www.uxb2b.com/UploadInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadAllowance">
      <soap:operation soapAction="http://www.uxb2b.com/UploadAllowance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadB1401">
      <soap:operation soapAction="http://www.uxb2b.com/UploadB1401" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadB0401">
      <soap:operation soapAction="http://www.uxb2b.com/UploadB0401" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadInvoiceAutoTrackNo">
      <soap:operation soapAction="http://www.uxb2b.com/UploadInvoiceAutoTrackNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadInvoiceCmsCSVAutoTrackNo">
      <soap:operation soapAction="http://www.uxb2b.com/UploadInvoiceCmsCSVAutoTrackNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadInvoiceCancellationCmsCSV">
      <soap:operation soapAction="http://www.uxb2b.com/UploadInvoiceCancellationCmsCSV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadInvoiceCancellation">
      <soap:operation soapAction="http://www.uxb2b.com/UploadInvoiceCancellation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadAllowanceCancellation">
      <soap:operation soapAction="http://www.uxb2b.com/UploadAllowanceCancellation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadB0501">
      <soap:operation soapAction="http://www.uxb2b.com/UploadB0501" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdatedWelfareAgenciesInfo">
      <soap:operation soapAction="http://www.uxb2b.com/GetUpdatedWelfareAgenciesInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWelfareAgenciesInfo">
      <soap:operation soapAction="http://www.uxb2b.com/GetWelfareAgenciesInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncomingInvoices">
      <soap:operation soapAction="http://www.uxb2b.com/GetIncomingInvoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncomingInvoiceCancellations">
      <soap:operation soapAction="http://www.uxb2b.com/GetIncomingInvoiceCancellations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncomingAllowances">
      <soap:operation soapAction="http://www.uxb2b.com/GetIncomingAllowances" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncomingAllowanceCancellations">
      <soap:operation soapAction="http://www.uxb2b.com/GetIncomingAllowanceCancellations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcknowledgeLivingReport">
      <soap:operation soapAction="http://www.uxb2b.com/AcknowledgeLivingReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncomingWinningInvoices">
      <soap:operation soapAction="http://www.uxb2b.com/GetIncomingWinningInvoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSignerCertificateContent">
      <soap:operation soapAction="http://www.uxb2b.com/GetSignerCertificateContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegisteredMember">
      <soap:operation soapAction="http://www.uxb2b.com/GetRegisteredMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadA1101">
      <soap:operation soapAction="http://www.uxb2b.com/UploadA1101" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadA1401">
      <soap:operation soapAction="http://www.uxb2b.com/UploadA1401" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadA0401">
      <soap:operation soapAction="http://www.uxb2b.com/UploadA0401" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadB1101">
      <soap:operation soapAction="http://www.uxb2b.com/UploadB1101" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadA0201">
      <soap:operation soapAction="http://www.uxb2b.com/UploadA0201" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadA0501">
      <soap:operation soapAction="http://www.uxb2b.com/UploadA0501" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadB0201">
      <soap:operation soapAction="http://www.uxb2b.com/UploadB0201" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2CUploadInvoice">
      <soap:operation soapAction="http://www.uxb2b.com/B2CUploadInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2CUploadInvoiceCancellation">
      <soap:operation soapAction="http://www.uxb2b.com/B2CUploadInvoiceCancellation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="eInvoiceServiceSoap12" type="tns:eInvoiceServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="B2BUploadReceipt">
      <soap12:operation soapAction="http://www.uxb2b.com/B2BUploadReceipt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2BUploadReceiptCancellation">
      <soap12:operation soapAction="http://www.uxb2b.com/B2BUploadReceiptCancellation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2BUploadInvoice">
      <soap12:operation soapAction="http://www.uxb2b.com/B2BUploadInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2BUploadAllowance">
      <soap12:operation soapAction="http://www.uxb2b.com/B2BUploadAllowance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2BUploadAllowanceCancellation">
      <soap12:operation soapAction="http://www.uxb2b.com/B2BUploadAllowanceCancellation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2BUploadInvoiceCancellation">
      <soap12:operation soapAction="http://www.uxb2b.com/B2BUploadInvoiceCancellation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2BUploadBuyerInvoice">
      <soap12:operation soapAction="http://www.uxb2b.com/B2BUploadBuyerInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadBranchTrackBlank">
      <soap12:operation soapAction="http://www.uxb2b.com/UploadBranchTrackBlank" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2BReceiveA1401">
      <soap12:operation soapAction="http://www.uxb2b.com/B2BReceiveA1401" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcknowledgeReceiving">
      <soap12:operation soapAction="http://www.uxb2b.com/AcknowledgeReceiving" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyCounterpartBusiness">
      <soap12:operation soapAction="http://www.uxb2b.com/NotifyCounterpartBusiness" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2BReceiveB1401">
      <soap12:operation soapAction="http://www.uxb2b.com/B2BReceiveB1401" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2BReceiveA0501">
      <soap12:operation soapAction="http://www.uxb2b.com/B2BReceiveA0501" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2BReceiveB0501">
      <soap12:operation soapAction="http://www.uxb2b.com/B2BReceiveB0501" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveContentAsPDF">
      <soap12:operation soapAction="http://www.uxb2b.com/ReceiveContentAsPDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTempForReceivePDF">
      <soap12:operation soapAction="http://www.uxb2b.com/DeleteTempForReceivePDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadCounterpartBusiness">
      <soap12:operation soapAction="http://www.uxb2b.com/UploadCounterpartBusiness" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadInvoice">
      <soap12:operation soapAction="http://www.uxb2b.com/UploadInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadAllowance">
      <soap12:operation soapAction="http://www.uxb2b.com/UploadAllowance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadB1401">
      <soap12:operation soapAction="http://www.uxb2b.com/UploadB1401" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadB0401">
      <soap12:operation soapAction="http://www.uxb2b.com/UploadB0401" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadInvoiceAutoTrackNo">
      <soap12:operation soapAction="http://www.uxb2b.com/UploadInvoiceAutoTrackNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadInvoiceCmsCSVAutoTrackNo">
      <soap12:operation soapAction="http://www.uxb2b.com/UploadInvoiceCmsCSVAutoTrackNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadInvoiceCancellationCmsCSV">
      <soap12:operation soapAction="http://www.uxb2b.com/UploadInvoiceCancellationCmsCSV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadInvoiceCancellation">
      <soap12:operation soapAction="http://www.uxb2b.com/UploadInvoiceCancellation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadAllowanceCancellation">
      <soap12:operation soapAction="http://www.uxb2b.com/UploadAllowanceCancellation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadB0501">
      <soap12:operation soapAction="http://www.uxb2b.com/UploadB0501" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdatedWelfareAgenciesInfo">
      <soap12:operation soapAction="http://www.uxb2b.com/GetUpdatedWelfareAgenciesInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWelfareAgenciesInfo">
      <soap12:operation soapAction="http://www.uxb2b.com/GetWelfareAgenciesInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncomingInvoices">
      <soap12:operation soapAction="http://www.uxb2b.com/GetIncomingInvoices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncomingInvoiceCancellations">
      <soap12:operation soapAction="http://www.uxb2b.com/GetIncomingInvoiceCancellations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncomingAllowances">
      <soap12:operation soapAction="http://www.uxb2b.com/GetIncomingAllowances" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncomingAllowanceCancellations">
      <soap12:operation soapAction="http://www.uxb2b.com/GetIncomingAllowanceCancellations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcknowledgeLivingReport">
      <soap12:operation soapAction="http://www.uxb2b.com/AcknowledgeLivingReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncomingWinningInvoices">
      <soap12:operation soapAction="http://www.uxb2b.com/GetIncomingWinningInvoices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSignerCertificateContent">
      <soap12:operation soapAction="http://www.uxb2b.com/GetSignerCertificateContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegisteredMember">
      <soap12:operation soapAction="http://www.uxb2b.com/GetRegisteredMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadA1101">
      <soap12:operation soapAction="http://www.uxb2b.com/UploadA1101" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadA1401">
      <soap12:operation soapAction="http://www.uxb2b.com/UploadA1401" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadA0401">
      <soap12:operation soapAction="http://www.uxb2b.com/UploadA0401" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadB1101">
      <soap12:operation soapAction="http://www.uxb2b.com/UploadB1101" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadA0201">
      <soap12:operation soapAction="http://www.uxb2b.com/UploadA0201" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadA0501">
      <soap12:operation soapAction="http://www.uxb2b.com/UploadA0501" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadB0201">
      <soap12:operation soapAction="http://www.uxb2b.com/UploadB0201" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2CUploadInvoice">
      <soap12:operation soapAction="http://www.uxb2b.com/B2CUploadInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B2CUploadInvoiceCancellation">
      <soap12:operation soapAction="http://www.uxb2b.com/B2CUploadInvoiceCancellation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eInvoiceService">
    <wsdl:port name="eInvoiceServiceSoap" binding="tns:eInvoiceServiceSoap">
      <soap:address location="http://localhost:9155/Published/eInvoiceService.asmx" />
    </wsdl:port>
    <wsdl:port name="eInvoiceServiceSoap12" binding="tns:eInvoiceServiceSoap12">
      <soap12:address location="http://localhost:9155/Published/eInvoiceService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>