Uxnet.Web/Module/SiteAction/SiteMenuData.xsd

<?xml version="1.0" encoding="big5"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="WorkMenuItem">
        <xs:attribute name="value" type="xs:string" use="required" />
        <xs:attribute name="url" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="SiteMenuItem">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="menuItem" type="SiteMenuItem">
            </xs:element>
            <xs:element name="workItem" maxOccurs="unbounded" minOccurs="0" type="WorkMenuItem">
            </xs:element>
        </xs:sequence>
        <xs:attribute name="value" type="xs:string" use="required" />
        <xs:attribute name="url" type="xs:string" use="required" />
        <xs:attribute name="name" type="xs:string" use="optional" />
        <xs:attribute name="enabled" type="xs:boolean" use="optional" />
        <xs:attribute name="control" type="xs:string" use="optional" />
    </xs:complexType>

    <xs:element name="menuItem" type="SiteMenuItem">
    </xs:element>
</xs:schema>